[Desktop Entry]
Type=Application
Name=GoPDF
GenericName=PDF Viewer
Comment=Lightweight PDF viewer written in Go
Exec=gopdf %F
Categories=Office;Viewer;
MimeType=application/pdf;
